<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacetrader">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Space Trader"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.spacetrader.views.MainActivity"
            android:label="Space Trader"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.spacetrader.views.CreatePlayerActivity" />

        <activity
            android:name="com.example.spacetrader.views.TradeItemActivity"
            android:parentActivityName="com.example.spacetrader.views.TradeScreenBuy" />

        <activity
            android:name="com.example.spacetrader.views.TradeScreenSell"
            android:parentActivityName="com.example.spacetrader.views.ViewPlanet" />

        <activity
            android:name="com.example.spacetrader.views.TradeScreenBuy"
            android:parentActivityName="com.example.spacetrader.views.ViewPlanet" />

        <activity
            android:name="com.example.spacetrader.views.ViewPlanet"
            android:parentActivityName="com.example.spacetrader.views.ViewPlanets" />

        <activity
            android:name="com.example.spacetrader.views.ViewPlanets"
            android:parentActivityName="com.example.spacetrader.views.ViewUniverse" />

        <activity
            android:name="com.example.spacetrader.views.GameStartScreen"
            android:parentActivityName="com.example.spacetrader.views.ViewPlayerActivity" />

        <activity
            android:name="com.example.spacetrader.views.ViewUniverse"
            android:parentActivityName="com.example.spacetrader.views.ViewPlayerActivity" />

        <activity
            android:name="com.example.spacetrader.views.ViewPlayerActivity"
            android:parentActivityName="com.example.spacetrader.views.ViewAllPlayersActivity" />

        <activity android:name="com.example.spacetrader.views.ViewAllPlayersActivity"
            android:parentActivityName="com.example.spacetrader.views.MainActivity">

        </activity>
    </application>
</manifest>
